.dogfood{
    width:10rem;
    .pagemenus ul{
        width:10rem;
        height:2.4rem;
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        aligh-items:center;
        margin:0;
        li{
            width:2.5rem;
            img{
                width:2.5rem;
                height:2.4rem;
            }
        }
    }
}