#wrap{
	width:100%;
	height:16.7rem;
	display: flex;
	flex-direction: column;
	background: #fff;
}
#logo{
	width:100%;
	height:5rem;
	background: url(//img1.epetbar.com/2017-06/01/8/5e8d251ff2721f4a01920f0a61696026.png) no-repeat;  
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
#logo #back{
	position: absolute;
	top:0rem;
	left:0.2rem;
	font-size:0.9rem;
}
#logo #reg{
	position: absolute;
	top:0.3rem;
	right:0.3rem;
	font-size:0.5rem;
	color:#fff;
}
#logo #echong{
	font-size:1.2rem;
	font-family:"宋体";
	font-weight: bolder;
}
#logo #epet{
	font-size:0.4rem;
	margin-top:-0.3rem;
}
#logo #login{
	width:100%;
	height:1.2rem;
	position: absolute;
	bottom:0;
	display: flex;
}
#logo #login p{
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo #login #login_ord{
	background: rgba(255,255,255,.4);
}
#logo #login #login_phone{
	background: rgba(255,255,255,.2);
}

#main{
	flex:1;
}
#main #main_ord{
	width:100%;
	height:10rem;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
}
#main #main_ord #oul{
	width:100%;
	height:5.2rem;
	margin-top:0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main #main_ord #oul li{
	flex:1;
	width:90%;
	display: flex;	
	color:#ccc;
	align-items: center;
}
#main #main_ord #oul #li1,#main #main_ord #oul #li2{
	border-bottom: 1px solid #999;
}
#main #main_ord #oul #li1 input,#main #main_ord #oul #li2 input{
	height:1rem;
}
#main #main_ord #oul li i{
	display: block;
	width:1.2rem;
	height:1.2rem;
	font-size:0.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#main #main_ord #oul li input{
	flex:1;
	height:1.2rem;
	border: none;
	color:#999
}
#main #main_ord #oul #li3{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#main #main_ord #oul #li4 button{
	width:100%;
	height:0.9rem;
	border-radius: 0.5rem;
	background: #56d2b6;
	color:#fff;
}
#main #main_ord #hezuo{
	width:100%;
	height:5rem;
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	align-items: center;
}
#main #main_ord #hezuo p:first-child{
	color:#999;
	font-size:0.5rem;
}
#main #main_ord #hezuo p:last-child{
	display: flex;
	width:100%;
	height:2.5rem;
	justify-content: space-around;
	align-items: flex-end;
}
#main #main_ord #hezuo img{
	width:2rem;
	height:2rem;
}


#main #main_phone{
	width:100%;
	height:10rem;	
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
}
#main #main_phone #oul1{
	width:100%;
	height:6.2rem;
	margin-top:0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main #main_phone #oul1 li{
	flex:1;
	width: 90%;
	height:100%;
	display: flex;	
	color:#ccc;
	align-items: center;
}
#main #main_phone #oul1 #li1,#main #main_phone #oul1 #li2,#main #main_phone #oul1 #li5{
	border-bottom: 1px solid #999;
}
#main #main_phone #oul1 #li1 input,#main #main_phone #oul1 #li2 input,#main #main_phone #oul1 #li5 input{
	height:1rem;
}
#main #main_phone #oul1 li i{
	display: block;
	width:1.2rem;
	height:1.2rem;
	font-size:0.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#main #main_phone #oul1 li input{
	flex:1;
	height:1.2rem;
	border: none;
	color:#999
}
#main #main_phone #oul1 #li3{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#main #main_phone #oul1 #li4 button{
	width:100%;
	height:0.9rem;
	border-radius: 0.5rem;
	background: #56d2b6;
	color:#fff;
}
#main #main_phone #hezuo1{
	flex:1;
	width:100%;
	display: flex;
	margin-top:0.6rem;
	flex-direction: column;
	align-items: center;
	background: #fff;
}
#main #main_phone #hezuo1 p:first-child{
	color:#999;
	font-size:0.5rem;
}
#main #main_phone #hezuo1 p:last-child{
	display: flex;
	width:100%;
	height:2.5rem;
	justify-content: space-around;
	align-items: flex-end;
}
#main #main_phone #hezuo1 img{
	width:2rem;
	height:2rem;
}
